In [1]:
import pandas as pd
import json
from pandas.io.json import json_normalize

In [3]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects.json')
data =json.load((open('data/world_bank_projects.json')))

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [4]:
#1. Fill top 10 countries with most projects
sample_json_df.countryshortname.value_counts().sort_values(ascending = False).head(10)

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Morocco               12
Bangladesh            12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [18]:
#2.Find the top 10 major project themes (using column 'mjtheme_namecode')

themes = json_normalize(data, 'mjtheme_namecode')
distinctRows = themes.drop_duplicates()
CodeNamePair = distinctRows[distinctRows.name!=''].sort('code')

Mjtheme_NameCode_Max10 = themes.groupby('code').count().nlargest(10 , 'name')
Mjtheme_NameCode_Max10.rename(columns={'name':'Name_Count'} , inplace=True)
df_result = pd.merge(CodeNamePair,Mjtheme_NameCode_Max10, left_on ='code' , right_index=True)
df_result.sort('Name_Count' , ascending=False)

C:\Users\rvenkat\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()
C:\Users\rvenkat\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

   code                                          name  Name_Count
6    11  Environment and natural resources management         250
18   10                             Rural development         216
0     8                             Human development         210
5     2                      Public sector governance         199
3     6         Social protection and risk management         168
11    4      Financial and private sector development         146
8     7                   Social dev/gender/inclusion         130
4     5                         Trade and integration          77
53    9                             Urban development          50
2     1                           Economic management          38

In [21]:
#3 . In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.
codeNamePairDict= CodeNamePair.set_index('code').to_dict()
def FillThemeNames(x):
    return codeNamePairDict['name'][x]
themes['name'] = themes['code'].apply(FillThemeNames)